/* Ensure the html and body take up the full height of the viewport */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 400px;
  font-family: 'Permanent Marker', cursive;
  overflow: hidden; /* Prevent scrolling */
}

.svg-icon {
  width: 25px;
  height: 25px;

}

.inverted {
  filter: invert(1);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the container take up the full viewport height */
}

.content {
  flex: 1; /* Allow content to expand and fill available space */
  overflow: auto;
}
