.footer {
    background-color:  transparent;
    width: 100%;
    bottom: 0;  
    position: fixed;
    height: fit-content; /* Adjust height as needed */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    flex-direction: row;
    mask: linear-gradient(to bottom, transparent, black 14%);
    backdrop-filter: blur(10px) contrast(120%) saturate(150%);
    -webkit-backdrop-filter: blur(10px) contrast(120%) saturate(150%);

  }
  
  .footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline-start: 0;
    width: 100%;
  }
  

.footer-icon {
  width: 60px;
  padding: 10px;
  border-radius: 20%;
  border: 5px solid black;
  
}