.navbar {
    background-color:  transparent;

    padding-top: 15px;
    width: 100%;
    position: fixed;
    height: auto; /* Adjust height as needed */
    z-index: 1000;
    display: flex;
    justify-content: center;
    background: linear-gradient(
      to bottom, /* Direction of the gradient */
      #ffa122, /* Bottom color (dark orange) */
       #ff9f2200 /* Top color (lighter orange) */
    );

  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    
  }
  


  

.money-display {
  display: flex;
  justify-content: flex-end;
  background-color: #303030b9;
  border-radius: 20px;
  padding: 5px 10px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.money-icon {
  width: 26px;
  height: 26px;
  margin-left: 5px;
}

.money-display span {
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
}

.level-display{
  display: flex;
  justify-content: flex-start;
  background-color: #303030b9;
  letter-spacing: 2px;  
  border-radius: 20px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  color: white;
  padding-left: 12px;
  width: auto; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}