.navbar {
    background-color:  transparent;
    padding: 15px;
    width: auto;
    position: fixed;
    top: 0;
    align-self:center;
    height: 20px; /* Adjust height as needed */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a, .navbar button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar a:hover, .navbar button:hover {
    text-decoration: underline;
  }
  

.money-display {
  display: flex;
  justify-content: flex-end;
  background-color: #303030b9;
  border-radius: 20px;
  padding: 5px 10px;
  width: 130px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.money-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.money-display span {
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}

.level-display{
  display: flex;
  justify-content: flex-start;
  background-color: #303030b9;
  letter-spacing: 2px;  
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  width: auto; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}